.btn {
  padding: 12px 20px;
  font-size: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 99999px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  color: white;
}

.btn.primary {
  background-color: #BE2B24;
}

.btn.primary:hover {
  background-color: #9e2822;
}


.btn.secondary {
  background-color: #212121;
}

.btn.secondary:hover {
  background-color: #000000;
}


.btn.danger {
  background-color: #d32f2f; 
}

.btn.danger:hover {
  background-color: #9a0007;
}

.btn:disabled {
  background-color: #666666;
  color: #cccccc;
  cursor: not-allowed;
}
